@charset "UTF-8";

@font-face {
    font-family:'minecraft' ;
    src: url(/Font/VCRosdNEUE.ttf);
}


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#fff5e3dd;
    --cor1:#FF731D;
    --cor2:#1d99ff72;
    --cor3:#5082e6;
    --cor4:#1D5B79;
}

header{
    background-image: linear-gradient(to left,var(--cor3), var(--cor2));
        text-align: center;

        
}
.menu ul{
    display: inline-flex;
    display: flex;
    list-style-type: none;
    margin: auto;
    font-family: 'minecraft', Courier, monospace;
    border: solid 0.2px black;
 
    

}

.menu li{
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    border: solid 1px black;
    
}

.menu li:hover{
    background-color: var(--cor1);
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    transform: matrix(3px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

}


p{
text-align: center;
font-family: 'minecraft', Courier, monospace;
padding: 0px;
margin: 0;


}
body{
    background-color: #00000015;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Use uma porcentagem para largura */
    height: auto; /* Deixe a altura se ajustar automaticamente com base no conteúdo */
    max-width: 500px; /* Você ainda pode definir uma largura máxima se desejar */
    background: var(--cor0);
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.373);
    border-radius: 10%; 
    }
.box h1{
    font-family: 'minecraft', Courier, monospace;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    
}
.box p{
    
    text-align: justify;
    margin: 30px;
    
}
.box img{
    border-radius: 50%;
    width: 200px;
    border: 4px solid var(--cor2);
    display: block;
    margin: auto;
}

.imgsocial img:hover{
    border: solid var(--cor1) 4px;
    transition: 0.8s;
    transition-duration: 0.8s;
}
.social {
    text-align: center; 
}

.social ul {
    list-style: none; 
    padding: 0;
}

.social li {
    display: inline-block; 
    margin: 0 10px; 
}

.social img {
    width: 50px;
    border: none;
}

.social a {
    text-decoration: none;
    
}
.social li:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 0.4s;
    
        
}

.fixarRodape {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-image: linear-gradient(to left,var(--cor3), var(--cor2));
    border: solid 0.1px black;
    
}


