@charset "UTF-8";

body{
    background-color: rgba(252, 207, 25, 0.81);
    font-family: Arial, Helvetica, sans-serif;
    font-size:  20px;
    align-items: center;
}

h1{
    background-color: rgb(254, 255, 252);
    color: rgba(231, 112, 14, 0.945);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

h2{
    color: rgba(14, 135, 3, 0.848);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
}